.container {
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 730px;
  height: 100%;
  min-height: 100vh;
  padding-top: 72px;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .main {
    width: 672px;
    padding-top: 56px;
  }
}

@media screen and (max-width: 375px) {
  .main {
    width: 327px;
    padding-top: 32px;
  }
}