.checkbox {
  display: block;
  position: relative;

  padding-left: 29px;
  padding-top: 1px;
  height: 16px;

  cursor: pointer;

  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  color: #0C0E16;
}

.checkbox.dark {
  color: #FFFFFF;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;

  height: 16px;
  width: 16px;
  border-radius: 3px;

  background-color: #DFE3FA;
}

.checkmark.dark {
  background-color: #1E2139;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 1px #7C5DFA;
  transition: box-shadow 500ms;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #7C5DFA;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 8px;

  border: solid white;
  border-width: 0 2px 2px 0;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
